<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Home Page</title>
</head>

<body>
    <main class="w-full min-h-screen bg-zinc-900 p-10 text-white">

        <h1 class="text-3xl font-semibold text-white py-5">Welcome <%= username %>
        </h1>

    </main>
</body>

</html